<h1>Contact Art Curtain</h1>
<p>Whether you have a question about our curtains, need assistance with an order, or simply want to say hello, we're here for you! Feel free to reach out through any of the following channels:</p>
<p><b>Email: </b><a href="#" style="text-decoration: underline; color: blue;">contact@artcurtain.com</a></p>
<p><b>Phone: </b><a href="#" style="text-decoration: none; color: blue;">+1 1234567890</a></p>
<p><b>Visit Our Showroom: </b>Downtown Chicago, IL, 60611</p>
<p><a href="#" style="text-decoration: underline; color: blue;">Online Chat</a></p>